/*
* Color set
* =======================
* true for min-width query
* false for max-width query
*/

/* eslint-disable */

/* global */
$pureblack: #000000;
$black: #141516;
$dark: #212329;
$white: #fff;
$yel: #E5C55D;
// $drakTrans: rgba(33, 35, 41, 0.97);
// $drakTrans: rgba(38, 84, 215, 0.3);
$drakTrans: rgba(20, 21, 22, 0.96);

/* other */

$red: #F26161;
$green: #61F292;

/* project */

$bmw: #2654D7;
$louis: #61F292;

$bmwTrans: rgba(38, 84, 215, 1);