/*
* Color set
* =======================
* true for min-width query
* false for max-width query
*/

/* eslint-disable */

/* global */
$pureblack: #000000;
$black: #141516;
$dark: #212329;
$white: #fff;
$yel: #E5C55D;

/* other */

$red: #F26161;
$green: #61F292;

/* project */

$bmw: #2654D7;
$louis: #61F292;
